# Игнорировать виртуальное окружение
venv/

# Игнорировать файлы настроек IDE
.idea/
.vscode/

# Игнорировать логи, временные файлы и директории
*.log
*.swp
.DS_Store
__pycache__/

# Игнорировать файлы с секретными данными
credentials.json
config.py
readme_to_bot.txt


# Игнорировать сгенерированные файлы
*.generated

# Игнорировать файлы с результатами тестов
*.coverage
